body{
font-family: Arial, Helvetica, sans-serif;
background:#ecf0f1;
margin:0;
}

header{
background:#2c3e50;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#34495e;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

main{
display:flex;
justify-content:center;
align-items:center;
height:80vh;
}

section{
background:white;
padding:40px;
width:450px;
border-radius:10px;
box-shadow:0px 5px 15px rgba(0,0,0,0.2);
text-align:center;
}

h3{
margin-bottom:30px;
color:oklch(55.428% 0.1201 150.492);
}

button{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:5px;
background:#306b49da;
color:white;
font-size:15px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#1a252f;
}

footer{
background:#306b49da;
background:
color:white;
text-align:center;
padding:10px;
}